.custom-navbar{
    background-color: lightgrey;
    justify-content: flex-start;
}

.custom-button { 
   
    margin-left: 50px;
}
.main-content{
    padding: 2% 0.5%;
}
.custom-row{
    justify-content: space-evenly;
    
}

.custom-card{
    margin: 20px 0;
}
.custom-icon{
    margin-top: 12px;
}
.box2{
    display: flex;
    justify-content: space-between;
}
.box1{
    display: flex;
    flex-direction: column;
}

.feature-box{
    display: flex;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 5px;
    padding: 2%;
}
.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }